body {
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: lightblue;
}


nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.left-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 0 20px;
}

.right-menu {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.right-menu a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s;
}

.right-menu a:hover {
    color: #ff9900;
}


.sections {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px auto;
    text-align: left;
    border: 1px;
    background-color: white;
}

th,
td {
    padding: 10px;
    border: 1px solid black;
}

#books h2 {
    margin-bottom: 10px;
    font-size: 24px;
}


form {
    max-width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f5f5f5;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"] {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #ff9900;
}